<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f01e537613.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/carousel.css">
  <title>YouCritic</title>
</head>

<body>
  <div class="header-div">
    <div class="my-auto">
      <img src="/images/header-800.jpg" alt="header image">
      <form id="navbar-search" method="POST">
        <input type="search" name="search" class="search-query offset1" placeholder="Search Movies Here!">
      </form>
    </div>
  </div>
  <div class="body-container-main">
    <div class="my-auto">
      {{{body}}}
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/indexwilliam.js"></script>

</body>

</html>