<h1>Login</h1>
<form action="/login" method="POST">
<container>
  <div class="row">
    <div class="col-1 review-col">
      <label for="email">Email</label>
    </div>
    <div class="col-4 review-col">
      <input type="email" class="text-input" id="email" name="email" required>
    </div>
  </div>
  <div class="row">
    <div class="col-1 review-col">
      <label for="password">Password</label>
    </div>
    <div class="col-4 review-col">
      <input type="password" class="text-input" id="password" name="password" required>
    </div>
  </div>
  <div class="row">
    <div class="col-6 review-col">
      <button type="submit" class="btn">Login</button>
    </div>
  </div>
</container>
</form>