/* 
#660000 - Red
#555555 - Grey
#fff - White
#000 - Black
*/

body {
  background-color: #000;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #555;
  height: 1px;
}

.header-div {
  background-color: #660000;
  color: #000;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.body-container-main {
  flex-direction: column;
  background: #000;
  color: #fff;
  width: 100%;
  margin: 0px;
  padding: 20px;
  border-top: #555 solid 15px;
}

.detail-cols {
  margin-top: 20px;
  padding: 5px;
}

.details-text {
  font-size: 20px;
}

.review-row {
  width: 100%;
  background-color: #202020;
  padding: 10px;
}

.review-row-no-pad{
  width: 100%;
  background-color: #202020;
}
.review-col{
  text-align: center;
  align-content: center;
  padding: 10px;
}

input.search-query {
  background-color:black;
  color:white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
}

.search-results-searchContainer{
  align-items: top;
  vertical-align: middle;
  height: 500px;
}

.search-image{
  align-items: top;
  vertical-align: middle;
  height: 300px;
}

.header-image {
  display: inline;
}

.header-image-small {
  display: none;
}


.btn {
    background-color: #633200;
    color: #fff;
    width: 150px;
    border-radius: 15px;
    margin: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 1px 1px #fff, 1px 1px 10px 0px #fb3434;
}

.btn:hover {
    background-color: #fb3434;
    color: #fff;
    box-shadow: 0px 0px 2px 2px #fff, 1px 1px 10px 5px #fb3434;
}

.btn:focus {
    background-color: #fb3434;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #fff, 1px 1px 10px 5px #fff;
}

.btn:active {
    background-color: #fb3434;
    color: #fff;
}

.text-input {
    background-color: #000;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 1px 1px #fff, 1px 1px 10px 0px #fb3434;
}

.text-input:focus {
    background-color: #202020;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #fff, 1px 1px 10px 5px #fff;
}

.text-input:active {
    background-color: #202020;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #fff, 1px 1px 10px 5px #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchContainer {
  position: relative;
  margin: auto;
  top: 60px;
  left: 350px;
  right: 0;
  bottom: 0;
  width: 300px; 
}
.searchContainer .search {
 display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: #660000;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.searchContainer .search:hover {
  cursor: pointer;
}
.searchContainer .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}
.searchContainer .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.searchContainer input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #660000;
  color: white;
  text-shadow: 0 0 10px #660000;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #660000, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.searchContainer input:hover {
  cursor: pointer;
}
.searchContainer input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.searchContainer input:focus ~ .search {
  right: -250px;
  background: #660000;
  z-index: 6;
}
.searchContainer input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.searchContainer input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.searchContainer input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.modal-style {
  background-color: #000;
  box-shadow: 0px 0px 0px 0px #fff, 1px 1px 10px 5px #fff;
}
.close-btn {
  color: #fff;
  text-shadow: 0 1px 0 #fff;
}
@media only screen and (max-width: 850px) {
  .searchContainer {
  position: relative;
  margin: auto;
  top: 50px;
  left: 175px;
  right: 0;
  bottom: 0;
  width: 300px; 
}
.header-image {
  display: none;
}
.header-image-small {
display: inline;
}
}
@media only screen and (max-width: 685px) {
  .searchContainer {
  position: relative;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 300px; 
}
}
@media only screen and (max-width: 500px) {
  .searchContainer {
  position: relative;
  margin: auto;
  top: 20px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 300px; 
}
}